.tabs .tab a{
	background-color: #90caf9  ;
	color:#000;
	} /*Black color to the text*/

.tabs .tab a:hover {
	background-color:#bbdefb  ;
	color:#000;
	} /*Text color on hover*/

.tabs .tab a.active {
	background-color:#bbdefb ;
	color:#000;
	} /*Background and text color when a tab is active*/

.tabs .tab a:focus.active{
	background-color:#bbdefb ;
	color:#000;
	}

.tabs .indicator {
		background-color:#0d47a1 ;
	} /*Color of underline*/