
dataset/
api/__pycache__
YoutubeImageDataset/.vs/YoutubeImageDataset/v15/.suo
YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/db.lock
YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/storage.ide
YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/storage.ide-wal
YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/storage.ide-shm
