
projet/dataset/
projet/api/__pycache__
projet/YoutubeImageDataset/.vs/YoutubeImageDataset/v15/.suo
projet/YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/db.lock
projet/YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/storage.ide
projet/YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/storage.ide-wal
projet/YoutubeImageDataset/.vs/YoutubeImageDataset/v15/Server/sqlite3/storage.ide-shm
projet/MLAlgorithms/LinearRegression/.vs/LinearRegression/v15/ipch/7e11412bbe0e87df.ipch
projet/MLAlgorithms/LinearRegression/.vs/LinearRegression/v15/ipch/d3f557e35a32c742.ipch
projet/MLAlgorithms/LinearRegression/.vs/LinearRegression/v15/Browse.VC.opendb
projet/MLAlgorithms/LinearRegression/.vs/LinearRegression/v15/Browse.VC.db
projet/MLAlgorithms/LinearRegression/.vs/LinearRegression/v15/.suo
