<div class="row">
	<div class="col s8 offset-s2">
		<div class="card blue lighten-1">
			<div class="card-content white-text">
				<span class="card-title "><b><u>Présentation du projet</u></b></span>
				<p>
                    L'objectif de ce projet est de créer  une application web permettant de prédire l'âge d'une personne à partir d'une photo de son visage. <br>
                    Cette application est divisée en plusieurs parties avec des technologies différentes. Toutes les algorithmes de machine learning sont implémentés en C/C++.  Le framework Tensorflow est utilisé avec Python.
                </p>
			</div>
		</div>
	</div>
</div>