<nav>
	<div class="nav-wrapper light-blue darken-3">
		<div class="row">
			<div class="col offset-s1">
				<a href="{{url_for('accueil')}}" class="brand-logo">Quel est ton age ?</a>
			</div>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{{url_for('accueil')}}">Accueil</a></li>
				<li><a href="{{url_for('avance')}}">Avancé</a></li>
<!--				<li><a href="showDatas.php">Présentation des données</a></li>-->
<!--				<li><a href="badges.html">Informations</a></li>-->
			</ul>
		</div>


	</div>
</nav>